<% if tweet.errors.any? %>
<h2>
    <%= pluralize(tweet.errors.count,"error") %> not allowing this article to be saved.
</h2>
<ul>    
    <% tweet.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
</ul>
<% end %>
<div class="field">
    <%= form_with model: tweet, local: true do |form| %>
        
            <%= form.label :tweet, class:"label" %>
            <br>
            <%= form.text_field :tweet, class:"input is-success" %>
        
        
        
            <%= form.submit button_name,class:"button is-success" %>
        
    <% end %>
</div>

