<div class="columns is-multiline">  
    <div class="column is-6 is-offset-3">
        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%= tweet.user.name %></strong>
                            <br>
                            <%= tweet.tweet %>
                            <br>
                            <small>
                            <% if logged_in? && user_equals?(tweet.user)%>
                                <%= link_to 'Delete', tweet_path(tweet),class: 'button_modal is-danger button_margin',data: {confirm: "Are u sure?"} %>
                            <% end %>
                            <% if local_assigns[:show] %>
                                <% if logged_in? && user_equals?(tweet.user) %>
                                    <%= link_to 'Edit', edit_tweet_path(tweet),class: ' is-dark',style: 'margin-left: 12px;' %>
                                <% end %>
                                <%= link_to 'Cancel', root_path,class: ' is-dark',style: 'margin-left: 12px;' %>
                            <% else %>
                                <%= link_to "Retweets (#{tweet.retweets.count})",tweet_path(tweet) ,class: ' is-dark',style: 'margin-left: 12px;' %>
                            <% end %> · <%= time_ago_in_words(tweet.created_at) %> ago</small>
                            
                        </p>
                    </div>
                    <% if local_assigns[:show] %>
                        <%= render partial:'retweets/retweet', collection: tweet.retweets %>
                    <% end %>
                </div>
            </article>
        </div>
    </div>
</div>