<div class="columns is-multiline">  
    <div class="column is-6 is-offset-3">
        <div class="card">
            <header class="card-header">
                <div class="box" style="width: 100%">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= tweet.user.name %></strong>
                                    <br>
                                    <small>
                                    <%= time_ago_in_words(tweet.created_at) %> ago</small>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </header>
            <div class="card-content">
                    <div class="content">
                    <br>
                    <h2> <%= tweet.tweet %> </h2>
                    <br>
                    <br>
                    <i class="fa fa-gratipay" style="color:red"></i> <small> <%= tweet.likes.count %></small>
                    <i class="fa fa-comments"></i> <small> <%= tweet.retweets.count %></small>
                </div>
            </div>
            
                <footer class="card-footer">
                    <% if logged_in?  %>
                        <% if local_assigns[:show] %>
                            <%= link_to tweet_likes_path(tweet) ,method: :post,class: ' card-footer-item' do %>
                                <% if post_liked?(tweet) %>
                                    <i class="fa fa-heart" style="color:red"></i>
                                <% else %>
                                    <i class="fa fa-heart"></i>
                                <% end %>
                            <% end %>
                        <% else %>
                            <% if  user_equals?(tweet.user) %>
                                <%= link_to edit_tweet_path(tweet),class: ' card-footer-item' do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if user_equals?(tweet.user)%>
                            <%= link_to tweet_path(tweet),class: ' card-footer-item', method: :delete, data: {confirm: "Are u sure u want to delete this tweet?"} do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                    <%= link_to tweet_path(tweet),class: ' card-footer-item'  do %>
                        <i class="fa fa-retweet"></i>
                    <% end %>
                    <% if local_assigns[:show] %>
                        <%= link_to root_path ,class: ' card-footer-item' do %>
                            <i class="fa fa-reply"></i>
                        <% end %>
                    <% end %>
                </footer>
        </div>
    </div>
</div>
<% if local_assigns[:show] %>
    <div class="columns is-multiline">  
        <div class="column is-6 is-offset-3">
            <!-- SHould be inside card -->
            <div class="card">
                <div class="box" style="width: 100%">
                    <article class="media">
                        <figure class="media-left">
                            <p>
                                <code> Retweets </code>  
                            </p>
                        </figure>
                    </article>
                    <%= render partial:'retweets/retweet', collection: tweet.retweets %>
                </div>
            </div>
        </div>
    </div>
<% end %>