<section class="hero is-light is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          
          <h2 class="subtitle"> <%= link_to 'Twitter Clone',root_path,class: 'navbar-item' %></h2>
          <div class="navbar-end">
            <%= link_to 'All tweets', tweets_path,class: 'navbar-item' %>
            
            <%= link_to 'Create tweets', new_tweet_path, class: 'navbar-item' %>
            <a class="navbar-item">
              About
            </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= title_name %> 
      </h1>
      <h6 class="subtitle is-6">
        <%= subtitle %>
      </h6>
    </div>
  </div>

</section>