<section class="hero is-hero__main is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head ">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu navbar__hover">
          
          <h2 class="subtitle"> <%= link_to 'Twitter Clone',root_path,class: 'navbar-item main__item' %></h2>
          <div class="navbar-end">
            <%= link_to 'All tweets', tweets_path,class: 'navbar-item all__item' %>
            
            <%= link_to 'Create tweets', new_tweet_path, class: 'navbar-item all__item' %>
            

            <% if current_user %>
              <%= link_to 'Profile', auths_user_path(current_user), class: 'navbar-item all__item' %>
              <%= link_to 'Log Out', auths_logout_path,method: :delete, class: 'navbar-item all__item' %>
            <% else %>
              <%= link_to 'Log In', auths_login_path, class: 'navbar-item all__item' %>
              <%= link_to 'Sign Up', auths_users_signup_path, class: 'navbar-item all__item' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= title_name %> 
      </h1>
      <h6 class="subtitle is-6">
        <%= subtitle %>
      </h6>
    </div>
  </div>
</section>
<%= render '/shared/flash' %>

